

*{
    margin:0px;
    padding: 0px;
    background-color: dimgrey;
    
}
body{
    margin:100px 100px 100px 100px;  
    color:rgb(14, 11, 11);
    font-family: 'Poppins', sans-serif; 

}
table{
    text-align: left;
}

.bg{
    background-image: url(./asset/psbg.jpg);
    position: absolute;
    top:50px;
    bottom:200px;
    left:200px;
    right:200px;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px 4px #fff;
   
}

.content{
    position: relative;
    right:100px;
    top:300px;
    margin:50px;
    padding:50px;

}

.star{
    color:gold;
}
