

*{
    margin:0px;
    padding: 0px;
    
}
body{
    
    color:rgb(14, 11, 11);
    font-family: 'Poppins', sans-serif; 
    background-color:honeydew;

}
table{
    text-align: left;
}

.bg{
    background-image: url(./asset/psbg.jpg);
    position: absolute;
    top:50px;
    bottom:200px;
    left:400px;
    right:400px;
    box-sizing: border-box;
    box-shadow: 0px 2px 3px 8px rgb(32, 11, 11);
   
}

.content{
    position: relative;
    bottom: 50px;
    top:300px;
    margin:50px;
    padding:50px;
    box-shadow: 0px 2px 3px 8px rgb(32, 11, 11);
   
}

.star{
    color:gold;
}
